@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;   
}

section.content {
    position: relative;
    height: 100vh;
    box-sizing: border-box;
}

.img-frame {
    max-width: 600px;
    width: 100%;
    position: fixed;
    bottom: 170px;
    left: 50%;
    transform: translateX(-50%);
}

div-iframe {
    
}
iframe {
    border: 5px solid red;
    width: 100%;
    height: 100%;
    /* max-width: 400px;
    max-height: 320px; */
    /* position: fixed; */
    /* bottom: 170px;
    left: 50%; */
    /* transform: translateX(-50%); */
}

section.div-footer {
    background-color: #D8D1B6;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    text-align: center;
    padding-block: 24px;
    border-top: 4px solid black;
}

.img-keyboard {
    width: 100px;
    margin-left: 8px;
}
