@charset "UTF-8";

* {
    /*height: 100%;*/
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-image: linear-gradient(to right, #AED7D3, #F0F9E8);
}

main {
    background-color: white;
    width: 600px;
    padding: 24px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 5px 5px 5px #b5a4aca4;
}

h1 {
    color: #526462;
    text-align: center;
    text-shadow: 1px 1px 2px #F1C6D9;
}

h2 {
    color:#526462
}

p {
    text-align: justify;
    color: #262e2d;
}